head {
}

body {
  display: block;
  font-size: 1rem;
  color: #4a4a4a;
  line-height: 1.5;
  font-weight: 400;
  a {
    outline: none;
  }
}

.wrraper {
  margin: 0 auto;
}

.navbar {
  margin: 0 auto;
}

#bottom-inner {
  text-align: center;
}

.pagination-list .current {
  background: #3273dc;
  color: #fff;
  border: 0.1rem solid #3273dc;
  padding: 0.3rem;
  margin: 0.5rem;
}

.page-number {
  min-width: 2.25em;
  color: #363636;
  border: 0.1rem solid #dbdbdb;
  padding: 0.3rem;
  margin: 0.5rem;
}

#content-outer {
  overflow: hidden;
}

.recent-post-item {
  border: 1px solid lightgray;
  box-shadow: 0 0 2px lightgray;
  background: white;
  color: #444;
  padding: 3% 6%;
  position: relative;
  margin: 1em auto;
  &:first-child {
    margin-top: 0;
  }
}

#list-posts {
  overflow: hidden;
  padding: 2rem 15rem;
  background: #ffffff;
  color: #0a0a0a;
}

.post-item-title {
  line-height: 1.5rem;
  font: 1.5rem solid bold;
  color: rgba(0, 0, 0, .7);
  padding: 1rem 0;
}

.post-item-excerpt {
  line-height: 1.3rem;
  font-size: 1.3rem;
  font-weight: 300;
  color: rgba(0, 0, 0, .7);
}

.post-item-date {
  line-height: 1rem;
  font-size: 1rem;
  font-weight: 300;
  color: rgba(0, 0, 0, .7);
  padding: 1rem 0;
}

.post-item-link {
  padding: 1rem 0;
  color: #209cee
}

.post-item {
  text-decoration: none;
  transition: color 0.15s ease-in;
  color: #209cee;
  padding: 1rem 0;
  span {
    display: block;
  }
  div {
    //border: .2rem solid red;
  }
  & div:hover{
    border-left: .2rem solid #209cee;
  }
}